<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a href="/" class="ml-3">
        <img src="https://i.ibb.co/8jk8TX3/70a02727-9bab-4cb5-9d50-7c371e6b4e96-200x200.png" alt="logo" height="50"
            width="50" border="0">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


    </div>
    <form class="form-inline my-2 my-lg-0">
        <%= link_to "Browse Events", events_path, class:"nav-link" %>

        <% if user_signed_in? %>
        <a class="nav-link" href="/events/new">Create Events</a>
        <%=link_to "Hello #{current_user.first_name}", user_path(current_user), class: "nav-link mr-2"%>
        <%= link_to "Sign Out", session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"}, class: 'btn btn-danger my-2 my-sm-0 mr-2' %>
        <% else %>
        <%=link_to 'Sign In', new_session_path, class: 'btn btn-success my-2 my-sm-0 mr-2'%>
        <%=link_to 'Sign Up', new_user_path, class: 'btn btn-info my-2 my-sm-0 mr-2'%>
        <% end %>

    </form>

</nav>