<div class="row new_form">
  <div class="col-md-10 offset-2">
    <%=form_with url: filter_events_path, :html => {class:"form-horizontal",role: "form"}, local: true  do |f| %>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :date_from %>
      </div>
      <div class="col-sm-8">
        <%= f.date_field :date_from,class:"form-control",placeholder:"data",autofocus:true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :date_to %>
      </div>
      <div class="col-sm-8">
        <%= f.date_field :date_to,class:"form-control",placeholder:"data",autofocus:true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :where %>
      </div>
      <div class="col-sm-8">
        <%= f.text_area :where,class:"form-control",placeholder:"location",autofocus:true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :tag_names %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :tag_names,class:"form-control",placeholder:"tags",autofocus:true %>
      </div>
    </div>

    <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :minimum_number_of_people_going %>
        </div>
        <div class="col-sm-8">
          <%= f.number_field :minimum_number_of_people_going,class:"form-control",placeholder:"minimum number of people going",autofocus:true %>
        </div>
      </div>

      <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :maximum_number_of_people_going %>
          </div>
          <div class="col-sm-8">
            <%= f.number_field :maximum_number_of_people_going,class:"form-control",placeholder:"maximum number of people going",autofocus:true %>
          </div>
        </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class:"btn btn-primary btn-lg offset-3"%>
      </div>
    </div>

    <%end%>
    <div class="col-xs-4 col-xs-offset-4 mb-4 canreq">
      [<%=link_to"cancel request and return event listing",events_path %>]
    </div>
  </div>

</div>