 
 
<% if @event.errors.any?%>
 
<div class="row">

<div class="row ">
 
  <div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%=pluralize(@event.errors.count,"error")%>
          prohibited this event from being saved"
        </h2>
        <div class="panel-body">
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
            <li><%=msg%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


 
<div class="row">
  <div class="col-xs-12">
    <%=form_for(@event, :html => {class:"form-horizontal",role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%=f.label :title %>
      </div>
      <div class="col-sm-8">
        <%=f.text_field :title, class:"form-control",placeholder:"title",autofocus:true %>
      </div>
    </div>

<div class="row new_form">
  <div class="col-md-10 offset-2">


 
<%= render 'shared/error'%>
<%=form_for(@event, :html => {class: "container card card-body col-12 col-md-8 col-lg-6 mt-5 mb-5",role: "form"}) do |f| %>

<div class="form-row mb-4">
  <div class="col">
    <%=f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter title", autofocus: true %>
  </div>
  <div class="col">
    <%=f.label :date %>
    <%= f.date_field :date,class:"form-control",placeholder:"data",autofocus:true %>
  </div>
</div>

<div class="form-row mb-4">
  <div class="col">
    <%=f.label :where %>
 
    <%= f.text_field :title, class: "form-control", placeholder: "Enter location", autofocus: true %>

    <%= f.text_field :where, class: "form-control", placeholder: "Enter location", autofocus: true %>
 
  </div>
  <div class="col">
    <%=f.label :image %>
    <%= f.url_field :img_url,class:"form-control",placeholder:"img",autofocus:true %>
  </div>
</div>

<div class="form-group tag-description">
  <div class="control-label col-sm-2">
    <%= f.label :tags %>
  </div>
  <div class="col-sm-10 mb-3">
    <%= f.text_field :tag_names,class:"form-control",placeholder:"tags",autofocus:true %>
  </div>

  <div class="control-label col-md-6">
    <%= f.label :description %>
  </div>
  <div class="col-sm-10">
    <%= f.text_area :description,rows:10,class:"form-control",placeholder:"body",autofocus:true %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-8 create-event-btn">
    <%= f.submit class:"btn btn-primary btn-lg offset-4 mr-5"%>
  </div>
</div>

<%end%>
<div class="col-md-4 offset-4 mb-4">
  [<%=link_to"cancel request and return event listing",events_path %>]
</div>
</div>
<!-- 
<div class="row new_form">
  <div class="col-md-6 offset-4">
 
 

 
    <%=form_for(@event, :html => {class:"form-horizontal",role: "form"}) do |f| %>

    <div class="form-group">
      <div class="control-label col-sm-8">
        <%=f.label :title %>
      </div>
      <div class="col-md-8">
        <%=f.text_field :title, class:"form-control",placeholder:"title",autofocus:true %>
      </div>
    </div>

 
 
 

 

 
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :description %>
      </div>
      <div class="col-sm-8">
        <%= f.text_area :description,rows:10,class:"form-control",placeholder:"body",autofocus:true %>
      </div>
    </div>
 
 


 


 
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :date %>
      </div>
      <div class="col-sm-8">
        <%= f.date_field :date,class:"form-control",placeholder:"data",autofocus:true %>
      </div>
    </div>
 
 


 


 
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :where %>
      </div>
      <div class="col-sm-8">
        <%= f.text_area :where,class:"form-control",placeholder:"location",autofocus:true %>
      </div>
    </div>
 
 


 


 
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :img %>
      </div>
      <div class="col-sm-8">
        <%= f.url_field :img_url,class:"form-control",placeholder:"img",autofocus:true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :tag_names %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :tag_names,class:"form-control",placeholder:"tags",autofocus:true %>
      </div>
    </div>
 
 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit  class:"btn btn-primary btn-lg offset-3"%>
      </div>
    </div>


 
 

 
 
    <%end%>
    <div class="col-xs-4 col-xs-offset-4 mb-4 canreq">
      [<%=link_to"cancel request and return event listing",events_path %>]
    </div>
  </div>

 
 
</div>

</div> -->
 

</div> -->
 
